/* @define-color background_color   #181825;
@define-color crust_color        #232634;
@define_color front_background    #292939 */

*{
    font-family: "JetBrainsMono NF";
}

#waybar{
    padding: 0px 20px;
    background-color: #181825; 
}

.modules-left,.modules-center ,.modules-right{
    padding: 0px 10px;
    border-radius: 8px;
    background-color: #292939;  
    color: #cdd6f4;
}


#pulseaudio{
    background-color: #292939;
    /* border: 2px solid #6495ed; */
    border-radius: 10px;
    padding: 10px;

}


#mpris{
    background-color: #181825;
    border: 2px solid #b361ff;
    border-radius: 8px;
    padding: 0 10px;
}



#workspaces{
    /* border: 1px solid #fab387; */
    border-radius: 10px;
    background-color: #26283a;

}

#workspaces button{
    color: #cdd6f4;
    padding: 0 5px;
}

#workspaces button:hover{
    color:#fab387;
}

#workspaces button.active{
    color:#fab387;
}

/* Right */
#battery{
    background-color: #292939;
    border-radius: 8px;
    padding: 0px 5px;
}

#battery.critical{
    background-color: #f38ba8;
    color: #181825;
}
 
#battery.warning{
    background-color: #efe973;
    color: #181825;

}

#battery.charging{
    background-color:  #a6e3a1;
    color: #181825;
}